<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-404notfound">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
    </style>

    <div class="card">
      <h1>{{localize('h1-page-not-found')}}</h1>
      <p>{{localize('p-page-not-found-text1')}}</p>
      <p>{{localize('p-page-not-found-text2')}}</p>
      <p><a href="#" onclick="history.back";>{{localize('a-page-not-found')}}</a></p>
    </div>
  </template>

  <script>
    class My404notfound extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() { return 'my-404notfound'; }

      static get properties() {
        return {
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-page-not-found': '404 - Page Not found',
                  'p-page-not-found-text1' : 'This page isn\'t available.',
                  'p-page-not-found-text2' : 'The link you followed may be broken, or the page may have been removed.',
                  'a-page-not-found': 'Go to the previous page.'
                },
                'es': {
                  'h1-page-not-found': '404 - Página no encontrada',
                  'p-page-not-found-text1' : 'Esta página no está disponible.',
                  'p-page-not-found-text2' : 'Es posible que el enlace que has seguido esté roto o que se haya eliminado la página.',
                  'a-page-not-found': 'Volver a la página de atrás.'
                }
              }
            }
          }
        };
      }
    }

    window.customElements.define(My404notfound.is, My404notfound);
  </script>
</dom-module>
