<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-appfrase">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

      .frase {
        color: rgb(78, 2, 80);
      }

    </style>

    <div id="fraseEsp" class="frase" hidden$={{ocultoEsp}}><em>"{{fraseEsp}}"</em></div>
    <div id="fraseEng" clase="frase" hidden$={{ocultoEng}}><em>"{{fraseEng}}"</em></div>
    <div id="autor" class="frase" hidden$={{oculto}}>{{autor}}</div>

    <iron-ajax id="elajaxget"
      url="http://quotes.rest/qod.json"
      handle-as="json"
      method="GET"
      content-type="application/x-www-form-urlencoded"
      on-response="respuestaRecibida1"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
    <iron-ajax id="elajaxtrad"
      url="https://translation.googleapis.com/language/translate/v2?key=AIzaSyDgopsV6yjGT9QwmIFRZ4I-gxKiB1Cb-nk&target=es&q={{fraseEng}}";
      handle-as="json"
      method="GET"
      content-type="application/x-www-form-urlencoded"
      on-response="respuestaRecibida2"
      on-error="errorRecibido"
      last-response={{data2}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class MyappFrase extends Polymer.Element {
      static get is() {
        return 'my-appfrase';
      }

      static get properties() {
        return {
          cargar:{
            type:Boolean,
            observer: 'pedirFrase'
          },
          oculto: {
            type: Boolean,
            value: false
          },
          ocultoEsp: {
            type: Boolean,
            value: true
          },
          ocultoEng: {
            type: Boolean,
            value: true
          },
          data: {
            type: Object,
          },
          data2: {
            type: Object,
          },
          fraseEng: {
            type: String,
          },
          fraseEsp: {
            type: String,
          },
          autor: {
            type: String,
          },
          language: {
            value: 'es',
            observer: 'cerrarIdioma'
          }
        };
      }

      pedirFrase(){
        this.$.elajaxget.generateRequest();
      }

      errorRecibido(e, rejected) {
        this.ocultarTodo();
      };

      respuestaRecibida1(e, request) {
        if (request.succeeded) {
          try {
            this.fraseEng = this.data.contents.quotes[0].quote;
            this.autor = this.data.contents.quotes[0].author;
            this.$.elajaxtrad.generateRequest();
          } catch(err) {
            this.ocultarTodo();
          }
        } else {
          this.ocultarTodo();
        }
      };

      respuestaRecibida2(e, request) {
        if (request.succeeded) {
          try {
            this.fraseEsp = this.data2.data.translations[0].translatedText;
          } catch(err) {
            this.ocultarTodo();
          }
        } else {
          this.ocultarTodo();
        }
      };

      ocultarTodo(){
        this.oculto = true;
        this.ocultoEsp = true;
        this.ocultoEng = true;

      };

      cerrarIdioma(){
        if(!this.oculto && this.language=="es") {
          this.ocultoEsp=false;
          this.ocultoEng=true;
        } else if(!this.oculto && this.language=="en"){
          this.ocultoEsp=true;
          this.ocultoEng=false;
        }
      }
    }

    window.customElements.define(MyappFrase.is, MyappFrase);
  </script>
</dom-module>
