<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-appexitbutton">
  <template>
    <style include="shared-styles">
    </style>
    <div hidden$={{visible}}>
      <paper-icon-button icon="exit-to-app" alt="exit" on-click="hacerLogout"></paper-icon-button>
    </div>
    <iron-ajax id="elajax"
      url="http://localhost:3000/log_out/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="GET"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Myappexitbutton extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-appexitbutton';
      }

      static get properties() {
        return {
          headers: {
            default: ''
          },
          visible: {
            type: Boolean
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-page-not-found': '404 - Page Not found'
                },
                'es': {
                  'h1-page-not-found': '404 - Página no encontrada'
                }
              }
            }
          }
        };
      }

      hacerLogout() {
        this.$.elajax.generateRequest();
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          window.sessionStorage.setItem('RCLAPI', "");
          this.dispatchEvent(new CustomEvent('unlogged', {}));
        } else {
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      errorRecibido(e, rejected) {
        console.log('Error en la solicitud, con código ' + rejected.request.response.message);
        window.sessionStorage.setItem('RCLAPI', "");
        this.dispatchEvent(new CustomEvent('unlogged', {}));
      };
    }

    window.customElements.define(Myappexitbutton.is, Myappexitbutton);
  </script>
</dom-module>
