<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-appnosesion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
    </style>

    <div class="card">
      <h1>{{localize('h1-appnosesion')}}</h1>
      <p>{{localize('p-nosesion-text1')}}</p>
      <p>{{localize('p-nosesion-text2')}}<a href="login" >{{localize('a-goLogin')}}</a></p>
    </div>
  </template>

  <script>
    class Myappnosesion extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() { return 'my-appnosesion'; }

      static get properties() {
        return {
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-appnosesion': 'No session',
                  'p-nosesion-text1' : 'Upsss...Your user has lost session.',
                  'p-nosesion-text2' : 'Please, go to ',
                  'a-goLogin': 'login.'
                },
                'es': {
                  'h1-appnosesion': 'Sin sesión',
                  'p-nosesion-text1' : 'Upsss...Parece que has perdido la sesión.',
                  'p-nosesion-text2' : 'Por favor, ve a ',
                  'a-goLogin': 'iniciar sesión.'
                }
              }
            }
          }
        };
      }
    }

    window.customElements.define(Myappnosesion.is, Myappnosesion);
  </script>
</dom-module>
