<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="my-cuentamodificar.html">
<link rel="import" href="my-cuentaeliminar.html">
<link rel="import" href="my-movimientoanadir.html">
<link rel="import" href="my-movimientos.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-cuenta">
  <template>
    <link rel="stylesheet" href="../css/miapp-bootstrap.css">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 0px;
        --app-primary-color: rgb(218, 98, 125);
        --app-secondary-color: rgb(69, 9, 32);
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
      #sec {
        color: var(--secondary-text-color);
      }
      #princ {
        color: var(--primary-text-color);
      }
    </style>

      <table class="table table-sm col-lg-12 col-xs-12">
        <tr class="row">
          <td class="col-lg-4 d-flex align-items-center" id="princ"><strong>[[cuenta.accountNumber]]</strong></td>
          <td class="col-lg-4 d-flex align-items-center" id="sec"><strong>[[cuenta.accountAlias]]</strong></td>
          <td class="col-lg-2 d-flex d-flex align-items-center justify-content-end" id="princ"><strong>[[cuenta.countBalance]]€</strong></td>
          <td class="col-lg-2 d-flex d-flex align-items-center justify-content-end" id="princ">
            <paper-icon-button icon="create" alt="Editar cuenta" on-click="modificarCuenta">
              <my-cuentamodificar on-cerrarmodificar='ocultarMod' language={{language}} headers=[[headers]] cuenta=[[cuenta]] modal={{!ocultarmodificar}}></my-cuentamodificar>
            </paper-icon-button>
            <paper-icon-button icon="delete" alt="Borrar cuenta" on-click="eliminarCuenta">
              <my-cuentaeliminar on-cerrareliminar='ocultarElim' language={{language}} headers=[[headers]] cuenta=[[cuenta]] modal={{!ocultareliminar}}></my-cuentaeliminar>
            </paper-icon-button>
            <paper-icon-button icon="add" alt="Añadir movimiento" on-click="anadirMovimiento">
              <my-movimientoanadir on-cerraranadir='ocultarAdd' on-recargarmovimientos="recargarMovimientos" language={{language}} headers=[[headers]] cuenta=[[cuenta]] data2=[[data2]] modal={{!ocultaranadir}}></my-movimientoanadir>
            </paper-icon-button>
          </td>
        </tr class="row">
          <td colspan=12>
            <my-movimientos language={{language}} headers=[[headers]] cuenta=[[cuenta]] data2=[[data2]] recargar2={{recargar}}></my-movimientos>
          </td>
        </tr>
      </table>

      <iron-ajax id="elajaxget"
        url="http://localhost:3000/tiposmovimientos/?lang={{language}}"
        headers="[[headers]]"
        handle-as="json"
        loading="{{cargando}}"
        method="GET"
        content-type="application/json"
        on-response="respuestaRecibida1"
        on-error="errorRecibido"
        last-response={{data2}}
        rejectWithRequest="true">
      </iron-ajax>
  </template>

  <script>
    class Mycuenta extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-cuenta';
      }

      static get properties() {
        return {
          headers: {
            default: ''
          },
          cuenta: {
            type: Object,
            observer: 'recargarMovimientos'
          },
          recargar: {
            type:Boolean,
            value:false
          },
          ocultarmodificar: {
            type:Boolean,
            value:true
          },
          ocultareliminar: {
            type:Boolean,
            value:true
          },
          ocultaranadir: {
            type:Boolean,
            value:true
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es',
            observer: 'recargarTipos'
          }
        };
      }

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
      };

      respuestaRecibida1(e, request) {
        if (request.succeeded) {
          this.fire('recargarcuentas');
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      recargarTipos() {
        this.$.elajaxget.generateRequest();
      };

      modificarCuenta() {
        this.ocultareliminar=true;
        this.ocultarmodificar=false;
        this.ocultaranadir=true;
      }

      eliminarCuenta() {
        this.ocultareliminar=false;
        this.ocultarmodificar=true;
        this.ocultaranadir=true;
      }

      anadirMovimiento() {
        if(this.data2==null) {
          this.$.elajaxget.generateRequest();
        }
        this.ocultareliminar=true;
        this.ocultarmodificar=true;
        this.ocultaranadir=false;
      }

      ocultarMod(){
        this.ocultarmodificar=true;
      }
      ocultarElim(){
        this.ocultareliminar=true;
      }
      ocultarAdd(){
        this.ocultaranadir=true;
      }

      recargarMovimientos() {
        if(this.recargar) {
          this.recargar = false;
        } else if (!this.recargar){
          this.recargar = true;
        }
      }

    }

    window.customElements.define(Mycuenta.is, Mycuenta);
  </script>
</dom-module>
