<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentacabecera">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: rgb(218, 98, 125);
        --app-secondary-color: rgb(69, 9, 32);
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
      app-toolbar {
        background-color: rgb(165, 56, 96);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        font-weight: bold;
        color: rgb(244,244,244);
      }
    </style>
    <app-toolbar>
          <div main-title>{{localize('h1-cuentas')}}</div>
          <paper-icon-button icon="add" alt="Añadir" on-click="cambiar"></paper-icon-button>
    </app-toolbar>

    <div id="contenido" class="cards" hidden$={{cerrado}}>
      <h3>{{localize('h3-crear-cuenta')}}</h3>
      <paper-input id="accountAlias" name="accountAlias" label="{{localize('account-alias')}}" auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ-Z0-9\s]+$" error-message="{{localize('er-solo-letras')}}"></paper-input>
      <paper-button raised disabled$={{cargando}} on-click="crearCuenta">{{localize('btt-crear-cuenta')}}</paper-button>
      <paper-button raised on-click='cerrar'>{{localize('btt-cerrar')}}</paper-button>
      <paper-dialog id="dialog" class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
          <p>{{mensaje}}</p>
      </paper-dialog>
    </div>

    <iron-ajax id="elajaxpost"
      url="http://localhost:3000/cuentas/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Mycuentacabecera extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-cuentacabecera';
      }

      static get properties() {
        return {
          cerrado: {
            type: Boolean,
            value: true
          },
          headers: {
            default: '',
          },
          cargando: {
            type:Boolean,
            default:false
          },
          data: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-cuentas': 'Accounts',
                  'h3-crear-cuenta': 'Create new account',
                  'account-alias': 'Account alias',
                  'er-numeros-letras': 'Only letters and Numbers',
                  'btt-crear-cuenta': 'Create account',
                  'btt-cerrar': 'Close',
                  'txt-crearcuenta-OK': 'Cuenta creada.'
                },
                'es': {
                  'h1-cuentas': 'Cuentas',
                  'h3-crear-cuenta': 'Crear nueva cuenta',
                  'account-alias': 'Alias de la cuenta',
                  'er-solo-letras': 'Sólo letras  y números',
                  'btt-crear-cuenta': 'Crear cuenta',
                  'btt-cerrar': 'Cerrar',
                  'txt-crearcuenta-OK': 'Cuenta creada.'
                }
              }
            }
          }
        };
      }

      cambiar() {
        if(this.cerrado) {
          this.cerrado = false;
        } else {
          this.cerrado = true;
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
        this.$.dialog.open();
      };

      crearCuenta() {
        this.mensaje = "";
        this.cerrado = false;
        var alias = this.$.accountAlias;
        if (alias.validate()) {
          var obj = {
            accountAlias: alias.value,
          };
          this.$.elajaxpost.body = obj;
          this.$.elajaxpost.generateRequest();
        }
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          this.mensaje = this.localize('txt-crearcuenta-OK');
          this.$.dialog.open();
          this.$.accountAlias.value = "";
          this.dispatchEvent(new CustomEvent('recargarcuentas', {}));
          this.cerrar();
        } else {
          this.mensaje = request.response.message;
          this.$.dialog.open();
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      cerrar() {
        this.cerrado = true;
      }

    }

    window.customElements.define(Mycuentacabecera.is, Mycuentacabecera);
  </script>
</dom-module>
