<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentaeliminar">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

    </style>
    <paper-dialog id="dialog" modal class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
    <div class="cards">
      <div id="cabecera">
        <h2>{{localize('h1-cuentaeliminar')}}</h2>
      </div>
      <div>
          <p>{{localize('txt-borrarcuenta')}}</p>
          <paper-button raised on-click="borrarCuenta" disabled$={{cargando}}>{{localize('btt-borrarcuenta')}}</paper-button>
          <paper-button raised on-click="cerrar">{{localize('btt-cerrar')}}</paper-button>
           <p>{{mensaje}}</p>
      </div>
    </div>
    </paper-dialog>
    <iron-ajax id="elajaxdelete"
      url="http://localhost:3000/cuentas/{{cuenta.accountId}}/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="DELETE"
      content-type="application/x-www-form-urlencoded"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Mycuentaeliminar extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-cuentaeliminar';
      }

      static get properties() {
        return {
          modal:{
            type:Boolean,
            observer: 'gestionarModal',
          },
          headers: {
            default: '',
          },
          cargando: {
            type:Boolean,
            default:false
          },
          cuenta: {
            type: Object,
          },
          data: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-cuentaeliminar': 'Delete Account',
                  'txt-borrarcuenta': 'This action will permanently erase all account\'s data (incluiding transactions). Do you wish to continue?',
                  'btt-borrarcuenta': 'Accept',
                  'btt-cerrar': 'Close',
                  'txt-borrarOK': 'Your account has been deleted'
                },
                'es': {
                  'h1-cuentaeliminar': 'Eliminar Cuenta',
                  'txt-borrarcuenta': 'Esta acción borrará de forma permanentemente todos los datos de su cuenta (movimientos incluidos). ¿Desea continuar?',
                  'btt-borrarcuenta': 'Aceptar',
                  'btt-cerrar': 'Cerrar',
                  'txt-borrarOK': 'Su cuenta se ha elimada'
                }
              }
            }
          }
        };
      }
      gestionarModal(){
        if(this.modal) {
          var body = document.querySelector('body');
          Polymer.dom(body).appendChild(this.$.dialog);
          this.$.dialog.open();
        } else {
          this.$.dialog.close();
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;

      };

      borrarCuenta() {
        this.mensaje = "";
        this.$.elajaxdelete.generateRequest();
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          this.mensaje = this.localize('txt-eliminarOK');
          this.fire('recargarcuentas');
          this.cerrar();
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      cerrar() {
        this.mensaje = "";
        this.$.dialog.close();
        this.dispatchEvent(new CustomEvent('cerrareliminar', {}));
        this.fire('recargarmovimientos');
      };
    }

    window.customElements.define(Mycuentaeliminar.is, Mycuentaeliminar);
  </script>
</dom-module>
