<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentamodificar">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

    </style>
    <paper-dialog id="dialog" modal class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
    <div class="cards">
      <div id="cabecera">
        <h2>{{localize('h1-cuentamodificar')}}</h2>
      </div>
      <div>
        <paper-input id="accountAlias" name="accountAlias" label="{{localize('account-alias')}}" auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ-Z0-9\s]+$" error-message="{{localize('er-solo-letras')}}" value=[[cuenta.accountAlias]]></paper-input>
        </br>
        <paper-button raised on-click="modificarCuenta" disabled$={{cargando}}>{{localize('btt-modificar-cuenta')}}</paper-button>
        <paper-button raised on-click="cerrar">{{localize('btt-cerrar')}}</paper-button>
        <p>{{mensaje}}</p>
      </div>
    </div>
    </paper-dialog>
    <iron-ajax id="elajaxpost"
      url="http://localhost:3000/cuentas/{{cuenta.accountId}}/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="PUT"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Mycuentamodificar extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-cuentamodificar';
      }

      static get properties() {
        return {
          modal:{
            type:Boolean,
            observer: 'gestionarModal',
          },
          headers: {
            default: '',
          },
          cargando: {
            type:Boolean,
            default:false
          },
          cuenta: {
            type: Object,
          },
          data: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-cuentamodificar': 'Update Account',
                  'account-alias': 'Account alias',
                  'er-numeros-letras': 'Only letters and Numbers',
                  'btt-modificar-cuenta': 'Update account',
                  'btt-cerrar': 'Close',
                  'txt-actualizarOK': 'Account modified.'
                },
                'es': {
                  'h1-cuentamodificar': 'Modificar Cuenta',
                  'account-alias': 'Alias de la cuenta',
                  'er-solo-letras': 'Sólo letras  y números',
                  'btt-modificar-cuenta': 'Modificar cuenta',
                  'btt-cerrar': 'Cerrar',
                  'txt-actualizarOK': 'Cuenta modificada.'
                }
              }
            }
          }
        };
      }
      gestionarModal(){
        if(this.modal) {
          var body = document.querySelector('body');
          Polymer.dom(body).appendChild(this.$.dialog);
          this.$.dialog.open();
        } else {
          this.$.dialog.close();
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
      };

      modificarCuenta() {
        this.mensaje = "";
        var alias = this.$.accountAlias;
        if (alias.validate()) {
          var obj = {
            accountAlias: alias.value,
          };
          this.$.elajaxpost.body = obj;
          this.$.elajaxpost.generateRequest();
        }
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          this.mensaje = this.localize('txt-actualizarOK');
          this.fire('recargarcuentas');
          this.cerrar();
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      cerrar() {
        this.mensaje = "";
        this.$.dialog.close();
        this.dispatchEvent(new CustomEvent('cerrarmodificar', {}));
      };
    }

    window.customElements.define(Mycuentamodificar.is, Mycuentamodificar);
  </script>
</dom-module>
