<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="my-usuariomodificar.html">
<link rel="import" href="my-usuariopassword.html">
<link rel="import" href="my-usuarioborrar.html">
<link rel="import" href="my-appnosesion.html">

<dom-module id="my-configuracion">
  <template>
    <div hidden$={{logged}}><my-appnosesion language={{language}}></my-appnosesion></div>
    <div hidden$={{!logged}}><my-usuariomodificar language={{language}} headers=[[headers]] ></my-usuariomodificar></div>
    <div hidden$={{!logged}}><my-usuariopassword  language={{language}} headers=[[headers]] ></my-usuariopassword></div>
    <div hidden$={{!logged}}><my-usuarioborrar language={{language}} headers=[[headers]]></my-usuarioborrar></div>
  </template>

  <script>
    class Myconfiguracion extends Polymer.Element {
      static get is() {
        return 'my-configuracion';
      }

      static get properties() {
        return {
          headers: {
            default: ''
          },
          logged: {
            type: Boolean,
            value: false
          },
          language: {
            value: 'es'
          }
        };
      }
    }

    window.customElements.define(Myconfiguracion.is, Myconfiguracion);
  </script>
</dom-module>
