<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="my-cuentacabecera.html">
<link rel="import" href="my-cuenta.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: rgb(218, 98, 125);
        --app-secondary-color: rgb(69, 9, 32);
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
      #lista [hidden] { display: none; }
    </style>

    <my-cuentacabecera on-recargarcuentas='recargar' language={{language}} headers=[[headers]]></my-cuentacabecera>
    <iron-list id="lista" items="[[data]]" as="account" scroll-target="document" scroll-offset="200">
      <template>
        <my-cuenta on-recargarcuentas='recargar' language={{language}} headers=[[headers]] cuenta=[[account]]></my-cuenta>
      </template>
    </iron-list style="overflow-y: auto">
    <div>{{mensaje}}</div>

    <iron-ajax id="elajaxget"
      url="http://localhost:3000/cuentas/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      last-response="{{data}}"
      method="GET"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>
  <script>
    class Mycuentas extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-cuentas';
      }

      static get properties() {
        return {
          headers: {
            default: '',
            observer: 'activeChanged'
          },
          cargando: {
            type:Boolean,
            default:false
          },
          data: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          }
        };
      }

      static get observers() {
        return [
          'activeChanged(headers.Authorization)'
        ]
      }

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          this.mensaje = "";
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
      };

      activeChanged(token) {
        this.mensaje = "";
        if (token && token.length>1) {
          this.$.elajaxget.generateRequest();
        }
      };

      recargar(){
        this.$.elajaxget.generateRequest();
      };

    }

    window.customElements.define(Mycuentas.is, Mycuentas);
  </script>
</dom-module>
