<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="my-appfrase.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
      display: block;
      padding: 10px;
      --secondary-text-color: rgb(218, 98, 125);
      --primary-color: rgb(69, 9, 32);
      --error-color: rgb(78, 2, 80);
      --primary-text-color: rgb(69, 9, 32);
      }
    </style>

    <div class="card">
      <h1>{{localize('h1-login')}}</h1>
          <paper-input id="usermail" name="usermail" label="{{localize('login-email')}}" required auto-validate type="email" error-message="{{localize('er-email')}}">
            <iron-icon icon="mail" slot="prefix"></iron-icon>
          </paper-input>
          <paper-input id="userpassword" name="userpassword" label="{{localize('login-password')}}" required auto-validate type="password" pattern="(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" error-message="{{localize('er-password')}}">
            <iron-icon icon="lock" slot="prefix"></iron-icon>
          </paper-input>
          </br>
          <paper-button raised on-click="hacerlogin">{{localize('h1-login')}}</paper-button>
          <paper-dialog id="dialog" class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
                 <p>{{mensaje}}</p>
          </paper-dialog>
    </br>
      <div>
        <p>
        {{localize('txt-ir-registro1')}}
        <a href="registro">{{localize('txt-ir-registro2')}}</a>
      </p>
      </div>
    </div>

    <my-appfrase language={{language}} cargar='true'></my-appfrase>



    <iron-ajax id="elajax"
      url="http://localhost:3000/log_in/?lang={{language}}"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Mylogin extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-login';
      }

      static get properties() {
        return {
          headers: {
            default: ''
          },
          logged: {
            type: Boolean,
            value: false
          },
          language: {
            value: 'es'
          },
          mensaje: {
            type: Object,
            notify: true
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-login': 'Log in',
                  'login-email': 'Email',
                  'login-password': 'Password',
                  'er-email': 'We need a valid email adress',
                  'er-password': 'Min.8 positions: 1 mayúscula, 1 minúscula and 1 number',
                  'txt-ir-registro1': 'Don\'t you have an account? ',
                  'txt-ir-registro2': 'Sign up!',
                  'err-connection': 'Connection error. Please, try later.'
                },
                'es': {
                  'h1-login': 'Iniciar Sesión',
                  'login-email': 'Correo electrónico',
                  'login-password': 'Contraseña',
                  'er-email': 'Necesitamos una dirección de correo valida',
                  'er-password': 'Min.8 posiciones: 1 mayúscula, 1 minúscula y 1 número',
                  'txt-ir-registro1': '¿No tienes cuenta? ',
                  'txt-ir-registro2': 'Regístrate',
                  'err-connection': 'Error de conexión. Por favor, inténtalo más tarde.'
                }
              }
            }
          }
        };
      }

      hacerlogin() {
        this.mensaje = "";
        let usuario = this.$.usermail;
        let password = this.$.userpassword;
        if (usuario.validate() && password.validate()) {
          var obj = {
            email: usuario.value,
            password: password.value
          };
          this.$.elajax.body = obj;
          this.$.elajax.generateRequest();
        }
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          window.sessionStorage.setItem('RCLAPI', request.response.token);
          this.dispatchEvent(new CustomEvent('logged', {}));
        }
      };

      errorRecibido(e, rejected) {
        if (rejected.request.response) {
          this.mensaje = rejected.request.response.message;
        } else {
          this.mensaje = this.localize('err-connection');
        }
        this.$.dialog.open();
      };
    }

    window.customElements.define(Mylogin.is, Mylogin);
  </script>
</dom-module>
