<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-movimientoanadir">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

    </style>
    <paper-dialog id="dialog" modal style="width:500px;" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
    <div class="cards">
      <div id="cabecera">
        <h2>{{localize('h1-movimientoanadir')}}</h2>
      </div>
      <div>
        <paper-dropdown-menu style="width:300px;" label="{{localize('movimiento-tipo')}}">
          <paper-listbox id="tipos" slot="dropdown-content" class="dropdown-content">
            <template is="dom-repeat" items="{{data2.transactionType}}">
              <paper-item>[[item.descripcion]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-input id="amount" name="amount" label="{{localize('ammount')}}" required auto-validate pattern="[0-9.]+$" error-message="{{localize('er-solo-numeros')}}">
          <div slot="suffix">€</div>
        </paper-input>
        <paper-input id="additionalInformation" name="additionalInformation" label="{{localize('additional-information')}}" auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ-Z0-9\s]+$" error-message="{{localize('er-solo-letras')}}"></paper-input>
        </br>
        <paper-button raised on-click="anadirMovimiento" disabled$={{cargando}}>{{localize('btt-anadir-movimiento')}}</paper-button>
        <paper-button raised on-click="cerrar">{{localize('btt-cerrar')}}</paper-button>
        <p>{{mensaje}}</p>
      </div>
    </div>
    </paper-dialog>

    <iron-ajax id="elajaxpost"
      url="http://localhost:3000/cuentas/{{cuenta.accountId}}/movimientos?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRecibida2"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Mymovimientoanadir extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-movimientoanadir';
      }

      static get properties() {
        return {
          modal: {
            type: Boolean,
            observer: 'gestionarModal',
          },
          headers: {
            default: '',
          },
          cargando: {
            type: Boolean,
            default: false
          },
          cuenta: {
            type: Object,
          },
          data: {
            type: Object,
          },
          data2: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es',
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-movimientoanadir': 'Add Transaction',
                  'movimiento-tipo': 'Transaction Type',
                  'additional-information': 'Additional information',
                  'er-numeros-letras': 'Only letters and Numbers',
                  'ammount':'',
                  'er-solo-numeros': 'Invalid amount',
                  'btt-anadir-movimiento': 'Add',
                  'btt-cerrar': 'Close',
                  'txt-actualizarOK': 'Transaction added.'
                },
                'es': {
                  'h1-movimientoanadir': 'Añadir movimiento',
                  'movimiento-tipo': 'Tipo movimiento',
                  'additional-information': 'Información adicional',
                  'er-solo-letras': 'Sólo letras  y números',
                  'ammount':'Cantidad',
                  'er-solo-numeros': 'Cantidad inválida',
                  'btt-anadir-movimiento': 'Añadir',
                  'btt-cerrar': 'Cerrar',
                  'txt-actualizarOK': 'Movimiento añadido.'
                }
              }
            }
          }
        };
      }
      gestionarModal() {
        if (this.modal) {
          var body = document.querySelector('body');
          Polymer.dom(body).appendChild(this.$.dialog);
          this.$.tipos.selected=-1;
          this.$.amount.value=undefined;
          this.$.additionalInformation.value=undefined;
          this.$.dialog.open();
        } else {
          this.$.dialog.close();
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
      };

      anadirMovimiento() {
        this.mensaje = "";
        var info = this.$.additionalInformation;
        var selec = this.$.tipos.selected;
        var amount = this.$.amount;
        if (info.validate() && amount.validate() && selec>-1) {
          var obj = {
            additionalInformation: info.value,
            transactionAmount: amount.value,
            transactionType: this.data2.transactionType[selec].codigo,
            transactionFlowType: this.data2.transactionType[selec].flow
          };
          this.$.elajaxpost.body = obj;
          this.$.elajaxpost.generateRequest();
        }
      };

      respuestaRecibida2(e, request) {
        if (request.succeeded) {
          this.mensaje = this.localize('txt-actualizarOK');
          this.fire('recargarcuentas');
          this.fire('recargarmovimientos');
          this.cerrar();
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      cerrar() {
        this.mensaje = "";
        this.$.dialog.close();
        this.dispatchEvent(new CustomEvent('cerraranadir', {}));
      };
    }

    window.customElements.define(Mymovimientoanadir.is, Mymovimientoanadir);
  </script>
</dom-module>
