<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-movimientos">
  <template>
    <link rel="stylesheet" href="../css/miapp-bootstrap.css">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --app-primary-color: rgb(218, 98, 125);
        --app-secondary-color: rgb(69, 9, 32);
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
      #lista [hidden] { display: none; }

      #sec {
        color: var(--secondary-text-color);
      }
      #princ {
        color: var(--primary-text-color);
      }
      #INCOME {
        color: var(--error-color);
      }
      #EXPENSE {
        color: var(--secondary-text-color);
      }

    </style>

    <table class="table table-sm table-striped col-lg-12 col-xs-8">
      <tbody>
      <template is="dom-repeat" items="{{data}}">
      <tr class="row">
        <td class="col-lg-2 d-flex align-items-center" id="sec">[[item.transactionType]]</td>
        <td class="col-lg-4 d-flex align-items-center" id="sec">[[item.additionalInformation]]</td>
        <td class="col-lg-2 d-flex align-items-center justify-content-end" id=[[item.transactionFlowType]]>[[item.transactionAmount]]€</td>
        <td class="col-lg-2 d-flex align-items-center justify-content-end" id="princ">[[item.countUpdatedBalance]]€</td>
        <td class="col-lg-2 d-flex align-items-center justify-content-end" id="princ">[[item.created]]</td>
      </tr>
      </template>
    </tbody>
      <table>

    <iron-ajax id="elajaxget"
      url="http://localhost:3000/cuentas/{{cuenta.accountId}}/movimientos?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="GET"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>
  <script>
    class Mymovimientos extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-movimientos';
      }

      static get properties() {
        return {
          ocultareliminar: {
            type:Boolean,
            value:true
          },
          cuenta:{
            type: Object
          },
          headers: {
            default: '',
            observer: 'activeChanged'
          },
          cargando: {
            type:Boolean,
            default:false
          },
          recargar2: {
            type:Boolean,
            observer: 'recargar'
          },
          data: {
            type: Object,
          },
          idmov: {
            type: String,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          }
        };
      }

      static get observers() {
        return [
          'activeChanged(headers.Authorization)'
        ]
      }

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          this.mensaje = "";
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
      };

      activeChanged(token) {
        this.mensaje = "";
        if (token && token.length>1) {
          this.$.elajaxget.generateRequest();
        }
      };

      recargar(){
        this.$.elajaxget.generateRequest();
      };

    }

    window.customElements.define(Mymovimientos.is, Mymovimientos);
  </script>
</dom-module>
