<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="my-appnosesion.html">
<link rel="import" href="my-cuentas.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-posicion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

    </style>
    <div hidden$={{logged}}><my-appnosesion language={{language}}></my-appnosesion></div>
    <div hidden$={{!logged}}><my-cuentas language={{language}} headers=[[headers]] ></my-cuentas></div>
  </template>

  <script>
    class Myposicion extends Polymer.Element {
      static get is() {
        return 'my-posicion';
      }

      static get properties() {
        return {
          headers: {
            default: ''
          },
          logged: {
            type: Boolean,
            value: false
          },
          language: {
            value: 'es'
          }
        };
      }
    }

    window.customElements.define(Myposicion.is, Myposicion);
  </script>
</dom-module>
