<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-registro">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
    </style>

    <div class="card">
      <h1>{{localize('h1-registro')}}</h1>
          <paper-input id="userfirstname" name="userfirstname" label="{{localize('registro-nombre')}}" required auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ\s]+$" error-message="{{localize('er-solo-letras')}}"></paper-input>
          <paper-input id="userlastname" name="userlastname" label="{{localize('registro-apellido')}}" required auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ\s]+$" error-message="{{localize('er-solo-letras')}}"></paper-input>
          <paper-input id="usermail" name="usermail" label="{{localize('login-email')}}" required auto-validate type="email" error-message="{{localize('er-email')}}">
            <iron-icon icon="mail" slot="prefix"></iron-icon>
          </paper-input>
          <paper-input id="userpassword" name="userpassword" label="{{localize('login-password')}}" required auto-validate type="password" pattern="(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" error-message="{{localize('er-password')}}">
            <iron-icon icon="lock" slot="prefix"></iron-icon>
          </paper-input>
          </br>
          <paper-button raised on-click="hacerRegistro">{{localize('h1-registro')}}</paper-button>
          <paper-dialog id="dialog" class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
                 <p>{{mensaje}}</p>
          </paper-dialog>
    </div>
    <iron-ajax id="elajax"
      url="http://localhost:3000/sign_up/?lang={{language}}"
      handle-as="json"
      loading="{{cargando}}"
      method="POST"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Myregistro extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-registro';
      }

      static get properties() {
        return {
          logged: {
            type: Boolean,
            value: false
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-registro': 'Sign up',
                  'login-email': 'Email',
                  'login-password': 'Password',
                  'registro-nombre': 'First Name',
                  'registro-apellido': 'Last Name',
                  'er-email': 'We need a valid email adress',
                  'er-password': 'Min.8 positions: 1 mayúscula, 1 minúscula and 1 number',
                  'er-solo-letras': 'Only letters'
                },
                'es': {
                  'h1-registro': 'Registrarse',
                  'login-email': 'Correo electrónico',
                  'login-password': 'Contraseña',
                  'registro-nombre': 'Nombre',
                  'registro-apellido': 'Apellidos',
                  'er-email': 'Necesitamos una dirección de correo valida',
                  'er-password': 'Min.8 posiciones: 1 mayúscula, 1 minúscula y 1 número',
                  'er-solo-letras': 'Sólo letras'
                }
              }
            }
          }
        };
      }

      hacerRegistro() {
        this.mensaje = "";
        let usuario = this.$.usermail;
        let password = this.$.userpassword;
        let nombre = this.$.userfirstname;
        let apellido = this.$.userlastname;
        if (usuario.validate() && password.validate() && nombre.validate() && apellido.validate()) {
          var obj = {
            email: usuario.value,
            password: password.value,
            firstName: nombre.value,
            lastName: apellido.value
          };
          this.$.elajax.body = obj;
          this.$.elajax.generateRequest();
        }
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          window.sessionStorage.setItem('RCLAPI', request.response.token);
          this.dispatchEvent(new CustomEvent('logged', {}));
        } else {
          this.mensaje = request.response.message;
          this.$.dialog.open();
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
        this.$.dialog.open();
      };
    }

    window.customElements.define(Myregistro.is, Myregistro);
  </script>
</dom-module>
