<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-usuariopassword">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }
    </style>

<div class="cards">
  <div id="cabecera">
    <h2>{{localize('h1-usuariopassword')}}<paper-icon-button id="miicono" title="flecha" icon="arrow-drop-down" alt="exit" on-click="cambiar"></paper-icon-button></h2>
      </div>
      <div id="contenido" hidden$={{cerrado}}>
        <paper-input id="userpassword" name="userpassword" label="{{localize('password-actual')}}" required auto-validate type="password" pattern="(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" error-message="{{localize('er-password')}}">
          <iron-icon icon="lock" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="usernewpassword" name="usernewpassword" label="{{localize('password-nueva')}}" required auto-validate type="password" pattern="(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" error-message="{{localize('er-password')}}">
          <iron-icon icon="lock" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="usernewpassword2" name="usernewpassword2" label="{{localize('password-nueva-again')}}" required auto-validate type="password" pattern="(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" error-message="{{localize('er-password')}}">
          <iron-icon icon="lock" slot="prefix"></iron-icon>
        </paper-input>
        </br>
        <paper-button raised on-click="cambiarPassword">{{localize('h1-usuariopassword')}}</paper-button>
        <paper-dialog id="dialog" class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
               <p>{{mensaje}}</p>
        </paper-dialog>
      </div>
    </div>

    <iron-ajax id="elajax"
      url="http://localhost:3000/change_password/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="PUT"
      content-type="application/json"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Myusuariopassword extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-usuariopassword';
      }

      static get properties() {
        return {
          cerrado: {
            type: Boolean,
            value: true
          },
          headers: {
            value: ''
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-usuariopassword': 'Change password',
                  'password-actual': 'Current password',
                  'password-nueva': 'New password',
                  'password-nueva-again': 'Re-type new password',
                  'er-password': 'Min.8 positions: 1 uppercase, 1 lower case and 1 number',
                  'er-nueva-password': 'Passwords need to match.',
                  'txt-cambiarContraseñaOK': 'Password changed'

                },
                'es': {
                  'h1-usuariopassword': 'Cambiar contraseña',
                  'password-actual': 'Contraseña actual',
                  'password-nueva': 'Nueva contraseña',
                  'password-nueva-again': 'Repite nueva contraseña',
                  'er-password': 'Min.8 posiciones: 1 mayúscula, 1 minúscula y 1 número',
                  'er-nueva-password': 'Las contraseñas deben coincidir.',
                  'txt-cambiarContraseñaOK': 'Contraseña cambiada '
                }
              }
            }
          }
        };
      }

      cambiar() {
        if(this.cerrado) {
          this.$.miicono.icon = "arrow-drop-up";
          this.cerrado = false;
        } else {
          this.cerrado = true;
          this.$.miicono.icon = "arrow-drop-down";
        }
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          this.mensaje = this.localize('txt-cambiarContraseñaOK');
          this.$.dialog.open();
          window.sessionStorage.setItem('RCLAPI', request.response.token);
          this.fire('cambiotoken');
        } else {
          this.mensaje = request.response.message;
          this.$.dialog.open();
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
        this.$.dialog.open();
      };

      cambiarPassword() {
        this.mensaje = "";
        let pass1 = this.$.userpassword;
        let pass2 = this.$.usernewpassword;
        let passrep = this.$.usernewpassword2;
        if (pass1.validate() && pass2.validate() && passrep.validate()) {
          if (passrep.value == pass2.value) {
            var obj = {
              password: pass1.value,
              newPassword: pass2.value
            };
            this.$.elajax.body = obj;
            this.$.elajax.generateRequest();
          } else {
            this.mensaje = this.localize('er-nueva-password');
            this.$.dialog.open();
          }
        }
      };
    }
    window.customElements.define(Myusuariopassword.is, Myusuariopassword);
  </script>
</dom-module>
