<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">


<link rel="import" href="shared-styles.html">

<dom-module id="my-usuarioborrar">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

    </style>

    <div class="cards">
      <div id="cabecera">
        <h2>{{localize('h1-borrarUsuario')}}<paper-icon-button id="miicono" title="flecha" icon="arrow-drop-down" alt="exit" on-click="cambiar"></paper-icon-button></h2>
      </div>
      <div id="contenido" hidden$={{cerrado}}>
        <p>{{localize('txt-borrarUsuario')}}</p>
        <paper-button raised on-click="borrarUsuario" disabled$={{cargando}}>{{localize('btt-borrarUsuario')}}</paper-button>
        <paper-dialog id="dialog" class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
               <p>{{mensaje}}</p>
        </paper-dialog>
      </div>
    </div>

    <iron-ajax id="elajaxdelete"
      url="http://localhost:3000/clientes/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="DELETE"
      content-type="application/x-www-form-urlencoded"
      on-response="respuestaRecibida"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Myusuarioborrar extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-usuarioborrar';
      }

      static get properties() {
        return {
          cerrado: {
            type: Boolean,
            value: true
          },
          headers: {
            default: ''
          },
          cargando: {
            type:Boolean,
            default:false
          },
          data: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-borrarUsuario': 'Drop out',
                  'txt-borrarUsuario': 'This action will permanently erase all user\'s data (incluiding accounts and transactions). Do you wish to continue?',
                  'btt-borrarUsuario': 'Accept',
                  'txt-borrarOK': 'Your user has been dropped out'
                },
                'es': {
                  'h1-borrarUsuario': 'Darse de baja',
                  'txt-borrarUsuario': 'Esta acción borrará de forma permanentemente todos los datos de su usuario (cuentas y movimientos incluidos). ¿Desea continuar?',
                  'btt-borrarUsuario': 'Aceptar',
                  'txt-borrarOK': 'Su usuario se ha dado de baja'
                }
              }
            }
          }
        };
      }

      cambiar() {
        if(this.cerrado) {
          this.$.miicono.icon = "arrow-drop-up";
          this.cerrado = false;
        } else {
          this.cerrado = true;
          this.$.miicono.icon = "arrow-drop-down";
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
        this.$.dialog.open();
      };

      borrarUsuario() {
        this.mensaje = "";
        this.$.elajaxdelete.generateRequest();
      };

      respuestaRecibida(e, request) {
        if (request.succeeded) {
          window.sessionStorage.setItem('RCLAPI', "");
          this.mensaje = this.localize('txt-borrarOK');
          this.$.dialog.open();
          this.fire('droppedout');
        } else {
          this.mensaje = request.response.message;
          this.$.dialog.open();
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

    }

    window.customElements.define(Myusuarioborrar.is, Myusuarioborrar);
  </script>
</dom-module>
