<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-usuariomodificar">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);
      }

    </style>

    <div class="cards">
      <div id="cabecera">
        <h2>{{localize('h1-usuariomodificar')}}<paper-icon-button id="miicono" title="flecha" icon="arrow-drop-down" alt="exit" on-click="cambiar"></paper-icon-button></h2>
      </div>
      <div id="contenido" hidden$={{cerrado}}>
        <paper-input id="userfirstname" name="userfirstname" label="{{localize('registro-nombre')}}" required auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ\s]+$" error-message="{{localize('er-solo-letras')}}" value="{{data.firstName}}"></paper-input>
        <paper-input id="userlastname" name="userlastname" label="{{localize('registro-apellido')}}" required auto-validate pattern="[A-zÀ-ÖØ-öø-ÿ\s]+$" error-message="{{localize('er-solo-letras')}}" value="{{data.lastName}}"></paper-input>
        <paper-input id="usermail" name="usermail" label="{{localize('login-email')}}" disabled auto-validate type="email" value="{{data.email}}">
          <iron-icon icon="mail" slot="prefix"></iron-icon>
        </paper-input>
        </br>
        <paper-button raised on-click="modificarUsuario" disabled$={{cargando}}>{{localize('btt-actualizarUsuario')}}</paper-button>
        <paper-dialog id="dialog" class="colored" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
               <p>{{mensaje}}</p>
        </paper-dialog>
      </div>
    </div>

    <iron-ajax id="elajaxget"
      url="http://localhost:3000/clientes/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      last-response="{{data}}"
      method="GET"
      content-type="application/json"
      on-response="respuestaRecibida1"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
    <iron-ajax id="elajaxpost"
      url="http://localhost:3000/clientes/?lang={{language}}"
      headers="[[headers]]"
      handle-as="json"
      loading="{{cargando}}"
      method="PUT"
      content-type="application/json"
      on-response="respuestaRecibida2"
      on-error="errorRecibido"
      last-response={{data}}
      rejectWithRequest="true">
    </iron-ajax>
  </template>

  <script>
    class Myusuariomodificar extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'my-usuariomodificar';
      }

      static get properties() {
        return {
          cerrado: {
            type: Boolean,
            value: true
          },
          headers: {
            default: '',
            observer: 'activeChanged'
          },
          cargando: {
            type:Boolean,
            default:false
          },
          data: {
            type: Object,
          },
          mensaje: {
            type: Object,
            notify: true
          },
          language: {
            value: 'es'
          },
          resources: {
            value() {
              return {
                'en': {
                  'h1-usuariomodificar': 'User Settings',
                  'login-email': 'Email',
                  'registro-nombre': 'First Name',
                  'registro-apellido': 'Last Name',
                  'er-solo-letras': 'Only letters',
                  'btt-actualizarUsuario': 'Update',
                  'txt-actualizarOK': 'User updated.'
                },
                'es': {
                  'h1-usuariomodificar': 'Datos de usuario',
                  'login-email': 'Correo electrónico',
                  'registro-nombre': 'Nombre',
                  'registro-apellido': 'Apellidos',
                  'er-solo-letras': 'Sólo letras',
                  'btt-actualizarUsuario': 'Actualizar',
                  'txt-actualizarOK': 'Usuario actualizado.'
                }
              }
            }
          }
        };
      }

      static get observers() {
        return [
          'activeChanged(headers.Authorization)'
        ]
      }

      cambiar() {
        if(this.cerrado) {
          this.$.miicono.icon = "arrow-drop-up";
          this.cerrado = false;
        } else {
          this.cerrado = true;
          this.$.miicono.icon = "arrow-drop-down";
        }
      };

      respuestaRecibida1(e, request) {
        if (request.succeeded) {
          this.mensaje = "";
        } else {
          this.mensaje = request.response.message;
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      errorRecibido(e, rejected) {
        this.mensaje = rejected.request.response.message;
        this.$.dialog.open();
      };

      modificarUsuario() {
        this.mensaje = "";
        let nombre = this.$.userfirstname;
        let apellido = this.$.userlastname;
        if (nombre.validate() && apellido.validate()) {
          var obj = {
            firstName: nombre.value,
            lastName: apellido.value
          };
          this.$.elajaxpost.body = obj;
          this.$.elajaxpost.generateRequest();
        }
      };

      respuestaRecibida2(e, request) {
        if (request.succeeded) {
          this.mensaje = this.localize('txt-actualizarOK');
          this.$.dialog.open();
        } else {
          this.mensaje = request.response.message;
          this.$.dialog.open();
          console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
        }
      };

      activeChanged(token) {
        if (token && token.length>1) {
          this.$.elajaxget.generateRequest();
        }
      };

    }

    window.customElements.define(Myusuariomodificar.is, Myusuariomodificar);
  </script>
</dom-module>
