<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">

<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-registro.html">
<link rel="lazy-import" href="my-posicion.html">
<link rel="lazy-import" href="my-configuracion.html">
<link rel="lazy-import" href="my-404notfound.html">

<link rel="import" href="my-appexitbutton.html">

<dom-module id="protechufront-app">
  <template>
    <style>
      :host {
        --app-primary-color: rgb(218, 98, 125);
        --app-secondary-color: rgb(69, 9, 32);
        --secondary-text-color: rgb(218, 98, 125);
        --primary-color: rgb(69, 9, 32);
        --error-color: rgb(78, 2, 80);
        --primary-text-color: rgb(69, 9, 32);

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: rgb(244,244,244);
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: rgb(244,244,244);
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: rgb(218, 98, 125);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: rgb(69, 9, 32);
        font-weight: bold;
      }
    </style>

  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>
  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>
  <app-drawer-layout fullbleed narrow="{{narrow}}">
    <!-- Drawer content -->
    <app-drawer id="drawer" slot="drawer" >
      <app-toolbar>Menu</app-toolbar>
      <iron-selector selected="{{page}}" attr-for-selected="name" class="drawer-list" role="navigation" hidden$="{{logged}}">
        <a name="login" href="[[rootPath]]login">{{localize('menu-inicio')}}</a>
        <a name="registro" href="[[rootPath]]registro">{{localize('menu-registro')}}</a>
      </iron-selector>
      <iron-selector selected="{{page}}" attr-for-selected="name" class="drawer-list" role="navigation" hidden$="{{!logged}}">
        <a name="posicion" href="[[rootPath]]posicion">{{localize('menu-posicion')}}</a>
        <a name="configuracion" href="[[rootPath]]configuracion">{{localize('menu-configuracion')}}</a>
      </iron-selector>
    </app-drawer>
    <app-header-layout has-scrolling-region>
        <app-header slot="header" fixed condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>{{localize('main-title')}}</div>
            <paper-menu-button horizontal-align="right">
              <paper-icon-button icon="language" slot="dropdown-trigger" alt="menu"></paper-icon-button>
              <paper-listbox slot="dropdown-content" attr-for-selected="item-name" selected={{language}}>
                <paper-item item-name="es">ES</paper-item>
                <paper-item item-name="en">EN</paper-item>
              </paper-listbox>
            </paper-menu-button>
            <my-appexitbutton visible={{!logged}}  on-unlogged="gestionarUnlogged" headers=[[headers]] page={{page}}></my-appexitbutton>
          </app-toolbar>
        </app-header>
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="404notfound"
            role="main">
          <my-login name="login" on-logged="gestionarLogged" language={{language}} logged={{logged}}></my-login>
          <my-registro name="registro" on-logged="gestionarLogged" language={{language}} logged={{logged}></my-registro>
          <my-posicion name="posicion" language={{language}} logged={{logged}} headers=[[headers]]></my-posicion>
          <my-configuracion name="configuracion" on-cambioToken="gestionarToken" on-droppedout="gestionarUnlogged" language={{language}} logged={{logged}} headers=[[headers]]></my-configuracion>
          <my-404notfound name="404notfound" language={{language}}></my-404notfound>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class ProtechufrontApp extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
      static get is() {
        return 'protechufront-app';
      }

      static get properties() {
        return {
          headers: {
            type: Object,
          },
          logged: {
            type: Boolean,
            value: false
          },
          language: {
            value: 'es'
          },
          email: {
            type: String
          },
          resources: {
            value() {
              return {
                'en': {
                  'main-title': 'The TechU Project',
                  'menu-inicio': 'Log in',
                  'menu-registro': 'Sign Up',
                  'menu-posicion': 'Global Position',
                  'menu-configuracion': 'Settings'
                },
                'es': {
                  'main-title': 'Proyecto TechU',
                  'menu-inicio': 'Iniciar Sesión',
                  'menu-registro': 'Registrarse',
                  'menu-posicion': 'Posición Global',
                  'menu-configuracion': 'Configuración'
                }
              }
            }
          },
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      };

      constructor() {
        super();
        var token = window.sessionStorage.getItem('RCLAPI');
        if(token && token.length>0){
          this.logged = true;
        }
        if (!this.logged) {
          this.headers = {
            Authorization: ' '
          };
        } else {
          this.headers = {
            Authorization: 'RCLAPI ' + token
          };
        }

  }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'login' in that case.
        this.page = page || 'login';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      };

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      };

      _showPage404() {
        this.page = '404notfound';
      };

      gestionarLogged() {
        this.logged = true;
        this.set('route.path', 'posicion');
        this.gestionarToken();
      };

      gestionarUnlogged() {
        this.logged = false;
        this.set('route.path', 'login');
        this.gestionarToken();
      };

      gestionarToken(){
        var token = window.sessionStorage.getItem('RCLAPI');
        if(token && token.length>0){
          this.logged = true;
        }
        if (!this.logged) {
          this.headers = {
            Authorization: ' '
          };
        } else {
          this.headers = {
            Authorization: 'RCLAPI ' + token
          };
        }
      };

    }

    window.customElements.define(ProtechufrontApp.is, ProtechufrontApp);

  </script>
</dom-module>
