<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: rgb(165, 56, 96);
        border-radius: 5px;
        background-color: rgb(244,244,244);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .cards {
        margin: 18px;
        padding: 8px;
        color: rgb(165, 56, 96);
        border-radius: 5px;
        background-color: rgb(244,244,244);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: rgb(69, 9, 32);
        font-size: 22px;
      }

      h2 {
        margin: 12px 0;
        color: rgb(69, 9, 32);
        font-size: 18px;
      }

      a:link {
        text-decoration:underline;
        color: rgb(69, 9, 32);
      }
      a:visited {
        text-decoration:underline;
        color: rgb(69, 9, 32);
      }
      a:active {
        text-decoration:none;
        color: rgb(165, 56, 96);
      }
      a:hover {
        text-decoration:underline;
        color: rgb(165, 56, 96);
      }
    </style>
  </template>
</dom-module>
